<!DOCTYPE html>
<html>
<head>
    <title>요건대로 HTML 생성</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/myscript.js"></script>
</head>
<body>
<div class="navigator">
    <div id="top">
        <div class="top-item1">
            <h2 id="banner">FCB Former Seg</h2>
        </div>
        <div class="top-item2">
            <input type="button" class="settings">
            <input type="button" class="add-file">
            <div class="centered-buttons">
                <input type="button" class="left-button" onclick=prePage()>
                <a id="file-name">None </a>
                <input type="button" class="right-button" onclick=nextPage()>
            </div>
        </div>
    </div>
</div>

<div id="bottom">
    <div class="bottom-item">
        <div class="rectangle" onclick="submitImage()">
            <!-- <div class="input-image-text">Input Image</div> -->
            <label for="image-upload" class="input-image-text">Input Image</label>
            <input type="file" id="image-upload" style="display: none;" accept="image/*"
                   onchange="handleImageUpload(event)" multiple>
        </div>
        <div class="result-set">
            <img class="result-image" src="../static/uploads/result-test1.png" style="display: none; brightness(1); sepia(100%); saturate(10000%); hue-rotate(0deg);">
            <img class="source-image" src="../static/uploads/source-test1.png" style="max-width: 100%; max-height: 100%; display: none;">
        </div>
    </div>
    <div class="bottom-item">
        <div class="overlay">
            <input type="checkbox" id="checkbox" onchange="toggleImageDisplay()">
            <label for="checkbox">Overlay</label>
        </div>
        <input type="button" class="cancel">
    </div>
</div>
</body>
</html>
